.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 59px auto 41px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 688px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 152px;
  width: 152px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 10px 20px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 152px;
  width: 152px;
  background-image: none;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-4 {
  margin: 10px 20px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 152px;
  width: 152px;
  background-image: none;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 10px 20px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 152px;
  width: 152px;
  background-image: none;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 10px 20px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 152px;
  width: 152px;
  background-image: none;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 10px 20px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 152px;
  width: 152px;
  background-image: none;
  margin: 10px auto 0;
  padding: 33px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 10px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}